<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="themes/assets/images/leaf.png">
  <title>Compleat</title>


  <link href="themes/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/carousel.css" rel="stylesheet">


  <!-- <link href="themes/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="themes/assets/css/carousel.css" rel="stylesheet"> -->

</head>
<body>
  <div class="">
    {{{body}}}
  </div>

  <!-- FOOTER -->
  <footer>
    <div class="container" id="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>

      <p>
        <a href="index.html">&copy; 2017 Compleat, Inc. &middot; </a>
        <a href="privacy">Privacy &amp; Terms</a>
        <a href="#">               &middot;</a>
        <a href="userlogin.hbs">User Login</a>

        <a href="#">               &middot;</a>
        <a href="#businesslogin">Business Login</a>

      </p>
    </div>
  </footer>





  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="themes/dist/js/bootstrap.min.js"></script>
  <script src="themes/assets/js/holder.js"></script>
  <script src="/scripts/script.js"></script>

</body>

</html>
