<!-- NAVBAR
================================================== -->
<head>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet">
  <script src="https://use.fontawesome.com/27806009fc.js"></script>
</head>
<nav class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="index.html">Compleat</a> -->
        </div>
        <div class="navbar-collapse collapse">
          <form id="fuckthisform" action="/search" method="post">
          <ul class="nav navbar-nav">
            <li class="active" id="frontlogo"><a href="#">Compleat <i class="fa fa-leaf icon-small"></i></a></li>
            <!-- <li><a href="about.html">About Us</a></li> -->
            <li><a></a></li>
            <li class="searchbar"><input type="text" name="search" placeholder="Search...           "></li>
            <li><a></a></li>
            <li id="dropdownstick" class="dropdown1">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">  Dietary Restrictions <i class="fa fa-cutlery icon-small"> <b class="caret"></i></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Select the following</li>
                <li class="divider"></li>
                <li><input name="Vegan" type="checkbox"> Vegan</li>
                <li><input name="Vegetarian" type="checkbox"> Vegetarian</li>
                <li><input name="GlutenFree" type="checkbox"> Gluten Free</li>
                <li><input name="NutFree" type="checkbox"> Nut Free</li>
                <li><input name="LactoseFree" type="checkbox"> Lactose Free</li>
              </ul>
            </li>
            <!-- <li><a href="#tablebooking"></a></li> -->
            <li id="dropdownstick" class="dropdown1">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leaf Rating <i class="fa fa-leaf icon-small"> <b class="caret"></i></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Select the following</li>
                <li class="divider"></li>
                <li class="dropdown-header-2">The Leaf Rating is a speciality in-house score based on the number of options available at each restaurant</li>
                <li class="divider"></li>
                <li><input name="SingleLeaf" type="checkbox"> Single Leaf</li>
                <li><input name="DoubleLeaf" type="checkbox"> Double Leaf</li>
                <li><input name="TripleLeaf "type="checkbox"> Triple Leaf</li>
              </ul>
            </li>
            <!-- <li><a href="#tablebooking"></a></li> -->
            <li id="dropdownstick" class="dropdown1">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuisine <i class="fa fa-flag icon-small"> <b class="caret"></i></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Select the following</li>
                <li class="divider"></li>
                <li><input name="Murican" type="checkbox"> Murican</li>
                <li><input name="Chinese" type="checkbox"> Chinese</li>
                <li><input name="Ethiopian" type="checkbox"> Ethiopian</li>
                <li><input name="Greek" type="checkbox"> Greek</li>
                <li><input name="Indian" type="checkbox"> Indian</li>
                <li><input name="Italian" type="checkbox"> Italian</li>
                <li><input name="Japanese" type="checkbox"> Japanese</li>
                <li><input name="Korean" type="checkbox"> Korean</li>
                <li><input name="Mexican" type="checkbox"> Mexican</li>
                <li><input name="Southern" type="checkbox"> Southern</li>
                <li><input name="Thai" type="checkbox"> Thai</li>
                <li><input name="Vietnamese" type="checkbox"> Vietnamese</li>
                <li><input name="Other" type="checkbox"> Other</li>
              </ul>
            </li>
            <!-- <li><a href="#tablebooking"></a></li> -->
            <li id="dropdownstick" class="dropdown1">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Price <i class="fa fa-diamond icon-small"> <b class="caret"></i></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Select the following</li>
                <li class="divider"></li>
                <li><input name="onedollar" type="checkbox"> $ (<$10)</li>
                <li><input name="twodollar" type="checkbox"> $$ ($10-20)</li>
                <li><input name="threedollar" type="checkbox"> $$$ ($20-35)</li>
                <li><input name="fourdollar" type="checkbox"> $$$$ ($35+)</li>
              </ul>
            </li>
            <!-- <li><a href="#tablebooking"></a></li> -->
            <li id="dropdownstick" class="dropdown1">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Distance <i class="fa fa-map-marker icon-small"> <b class="caret"></i></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Select the following</li>
                <li class="divider"></li>
                <li><input name="lessthanone" type="checkbox"> Less than a mile</li>
                <li><input name="onetofive" type="checkbox"> 1 - 5 Miles</li>
                <li><input name="sixtofifteen" type="checkbox"> 6 - 15 Miles</li>
                <li><input name="sixteenplus" type="checkbox"> 16+ Miles</li>
              </ul>
            </li>
          </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Carousel
================================================== -->
<div id="mainCarousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <script
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
        </script>

        <script>
        var myCenter=new google.maps.LatLng(37.7708610,-122.4142490);
        var marker;
        function initialize()
        {
          var mapProp = {
            center:myCenter,
            zoom:14,
            mapTypeId:google.maps.MapTypeId.ROADMAP
          };
          var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
          marker=new google.maps.Marker({
            position:myCenter,
            // icon:'themes/assets/images/nepali-momo.png',
            animation:google.maps.Animation.BOUNCE
          });
          marker.setMap(map);
          // Info open
          var infowindow = new google.maps.InfoWindow({
            content:"Your location"
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <div id="googleMap" style="height:450px;"></div>
        <div class="container">
          <div class="carousel-caption">
            <a id="greenbutton" class="btn btn-lg btn-default" href="#" role="button" style="font-size:2em">Find Restaurants &raquo;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
</div>
<div class="mainTitle">
  <div class="container" id="#mainfonts">
    <h1>Welcome to <b class="mainFrame"> Compleat <i class="fa fa-leaf icon-small"></i></b></h1>
    <p id="h3para2">
      <b> The dietary restrictive search site you've always been looking for! </b>
    </p>
    <p id="h3para">
      Click on as many search options as you want and then click Find Restaurants once you're done!
    </p>
  </div>
</div>
<div class="introSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" id=#descriptors>
        <h3 class="h3headings">About us <i class="fa fa-user-circle-o icon-medium"></i></h3>
        <p id="h3para">
          Compleat is dedicated towards helping people with dietary restrictions find restaurants. More than just a search website, find restaurants that are specifically catered towards your dietary needs.
        </p>
      </div>
      <div class="col-lg-4">
        <h3 class="h3headings">Our Leaf Rating <i class="fa fa-leaf icon-medium"></i></h3>
        <p id="h3para">
          Our in-house speciality Leaf Rating provides you with a indication of how many dishes at each restaurant fit the dietary restriction you're looking for. Now you can find more than just a soup or a salad!
        </p>
      </div>
      <div class="col-lg-4">
        <h3 class="h3headings">Partner with us <i class="fa fa-user-plus icon-medium"></i></h3>
        <p id="h3para">
          Restaurants and Eateries who cater towards customers with dietary restrictions looking to improve customer traffic are the perfect businesses to partner with us!
        </p>
      </div>
    </div>
  </div>
</div>
